@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: BOLD;
}

html, body{
    height: 100%;
    width: 100%;
    
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    
}

#header{
  position: fixed;
  font-size: 10px;
  top: 0;
  width: 100%;
  height: 5%;
  backdrop-filter: blur(12px);          
  background: rgba(0, 0, 0, 0.70);      
  display: flex;
  align-items: center;
  padding-left: 20px;
  z-index: 9999;
}


#header a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
    font-size: 15px;
  
}
#header nav{
display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  color: white;
}


#header a:hover {
  background-color: rgb(180, 180, 180);
  
}
#header i:hover{
    color: rgb(180, 180, 180);
}
.ri-home-2-fill{
      
    margin-right: 12px;    
  font-size: 15px;       
  vertical-align: middle;
    
    
}
.ri-search-line{
    
   margin-left: 12px;
  font-size: 15px;
  vertical-align: middle;
    
}

#p1{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#p1 img{
  height: 100vh;
  width: 100vw;
  object-fit:cover;
  margin-top: 0%;
  display: block;
}

#p1 p{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 4px;
  
}


#p2{
    height: 90%;
    width: 100%;
    background-color: black;

}

.slider{
  width:100%;
  overflow:hidden;
  padding:40px 0;
  background: black;
  position:relative;
}

.track{
  display:flex;
  width:fit-content;
  animation:scroll 20s linear infinite;
}

@keyframes scroll{
  from{ transform: translateX(0); }
  to{ transform: translateX(-50%); }
}

.card{
  width:240px;
  height:420px;
  background:#fff;
  border-radius:18px;
  overflow:hidden;
  box-shadow:0 0 25px rgba(0,0,0,0.4);
  text-align:center;
  flex-shrink:0;
  filter:brightness(60%);
  transition:.4s;
}


.card + .card{
  margin-left:25px;
}

.card:hover{
  filter:brightness(100%);
  transform:scale(1.08);
  z-index:10;
}

.card img{
  width:100%;
  height:330px;
  object-fit:cover;
  border-radius:12px 12px 0 0;
}

.card a{
  display: inline-block;
  margin-top: 10px;
  padding: 10px 28px;
  background: #007aff;        
  color: white;
  border-radius: 999px;          
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  transition: .25s;
  box-shadow: 0 4px 18px rgba(0, 122, 255, 0.4);
}

.card a:hover{
  background: #005fcc;          
  box-shadow: 0 6px 25px rgba(0, 122, 255, 0.55);
  transform: translateY(-2px);
}



.slider::before,
.slider::after{
  content:"";
  position:absolute;
  top:0;
  height:100%;
  width:160px;
  pointer-events:none;
  z-index:6;
}
.slider::before{ left:0; background:linear-gradient(to right, #111, transparent); }
.slider::after{ right:0; background:linear-gradient(to left, #111, transparent); }



